.sidebar {
    width: 20%;
    .sidebar {
        font-family: 'Ubuntu', sans-serif;
        background: rgba(122,123,217,0.7);
        border-right: 3px solid $navy;
        position: absolute;
        bottom: 0;
        left: 0;
        z-index: 100;
        padding: 2rem;
        text-align: center;
        height: 100vh;
        img {
            width: 60px;
            height: 60px;
        }
        h1 {
            font-size: calc(1.5rem + 1vw);
            color: $gold;
            margin: 0 0 2rem 0;
        }
        ul.form {
            list-style: none;
            padding: 0;
            select, input {
                font-family: 'Work Sans', sans-serif;
                font-size: calc(1rem + 0.5vw);
                font-weight: bold;
                color: $navy;
                background: transparent;
                border: 3px solid $navy;
                padding: 0.5rem;
                margin: 2rem auto 0 auto;
                cursor: pointer;
            }
            select:hover, select:active {
                background: $navy;
                color: white;
            }
            label {
                font-size: calc(0.5rem + 1vw);
                color: $navy;
            }
            input[type="submit"] {
                margin-top: 2rem;
                text-transform: uppercase;
                transition: all 0.5s ease-in-out;
            }
            input[type="submit"]:hover,input[type="submit"]:active {
                background: $gold;
            }
        }  
    }
}

//MEDIA QUERIES

@media(max-width: 968px) {
    .sidebar {
        width: 30%;
        .sidebar {
            h1 {
                font-size: calc(1.5rem + 1vw);
          }
        }
    }
}

@media(max-width: 600px) {
  .sidebar {
        width: 100%;
        .sidebar {
            top: 0;
            left: 0;
            bottom: 0;
            right: 0;
            padding: 2rem;
            height: 20vh;
            img {
                display: none;
            }
            h1 {
                font-size: calc(2rem + 1vw);
                margin: 0 0 0rem 0;
            }
            ul.form {
                padding: 0;
                li {
                    display: inline-block;
                    margin-right: 2%;
                }
                select, input {
                    font-size: calc(1rem + 0.5vw);
                    margin: 0rem auto 0 auto;
                }
                label {
                    display: none;
                }
                input[type="submit"] {
                    margin-top: 0rem;
                }
                input[type="submit"]:hover {
                    margin-right: 0;
                } 
            }
        }  
    }
}