$gold: #ffc62a;
$navy: #000643;
$lighterNavy: #171C54;
$periwinkle: #7a7bd9;
$darkPurple: #6d08c7;


// Colours:
// slightly lighter navy - #171C54 (land)
// Navy - #000643 (ocean)
// Gold - #ffc62a (logo, meteor markers)
// Dark Purple - #6d08c7 (input borders and text)
// Light Purple - #7a7bd9 (side menu lighter opacity)